@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500;600&family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500;600&family=League+Spartan&family=Rubik:wght@700&display=swap');
$Krub-font:'Krub', sans-serif;
$Rubik-font: 'Rubik', sans-serif;


.FooterContainerEmpty{
    background-image: url("../image/ShipContainer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     min-height: 60vh;
     width:100%;
}

.FooterTextSection{
    background: #091242;
     height: 400px;
}

.FooterNav{
    display: flex;
    background: rgb(29, 37, 81);
     padding:2rem 0px 3rem 15rem;
     height:60px;
     gap: 10px;
}
  .FooterLogo{
     height:10px;
     text-align: left;
    padding:2.6rem;
    background: #091242;
    margin-top: -2rem;
    margin-right: 3rem;
  }

.FooterNav > ul{
    list-style: none;
    margin-top: .3rem;
  li{
    font-family: $Rubik-font;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #FFFFFF;
padding-right: 7rem;
 }

}

.FooterMainBody{
    display: flex;
    gap:5rem;
    padding: 0px 9rem;
    margin-left: 8rem;
   
}
.LeverageFooter{
    margin-top: 3rem;
    gap: 2rem;

    p{
        font-family: 'Krub';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 161.52%;
/* or 24px */
        color: #E8E8E8;

    }
.Email{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
}

.MainUl , .MainUlTwo{
    display: flex;
    flex-direction:column;
    flex-direction: column;
    margin-top: 3rem;
    margin-left:2rem;

    li{
        font-family:$Krub-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
      

    }
}

 .MainUlTwo{
    display: flex;
    flex-direction:column;
    flex-direction: column;
    margin-top: 3rem;
    margin-left:2rem;

    li{
        font-family:$Krub-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        
      

    }
}



.MessageSection{
    margin-top: 1rem;
    margin-left:1rem;
}

.FooterMessageIcon{
    display: flex;
    margin-top:1rem;
    gap:1rem;
    .FooterBtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
         padding: 19px 36px;
        gap: 10px;
        width: 148px;
        height: 60px;
       border:none;
background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    }
}



