@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500;600&family=Rubik:wght@700&display=swap');

$Krub-font:'Krub', sans-serif;
$Rubik-font: 'Rubik', sans-serif;

.title{
    display: flex;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 550px; 
    margin-top: 85rem;
    margin-left: 8rem;
   
}
.TestimonialTitle{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    width:90px;
    left: 0px;
    top: 2px;
    width:150px;
    line-height: 20px;
    background: rgba(232, 232, 232, 0.5);

   h4 {
        font-family:$Rubik-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        padding: 10px 15px;
        color: #1C1F35;
    }
}

.titleText > h2 {
    font-family: $Rubik-font;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    color: #1C1F35;
    margin-top: 3rem;
}

.TestimonialUser{
    display: flex;
    margin-top: 93rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    left: 100px;


}

.TestimonialUser > .UserOne{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 65px;
    gap: 10px;
    width: 560px;
    height: 350px;
    background: #F4F4F4;
    
}

.UserOne > .UserOneProfile{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
 gap: 10px;


}
.UserOneQuote{
    margin-left: 5rem;
}

.UserOneProfile > img{
    border-radius: 50%;
}


.UserOneProfile > .textHeader > h3{
    font-family: $Rubik-font;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
/* identical to box height */
color: #091242;

}
.UserOneProfile > .textHeader > h4{
    
font-family: $Krub-font;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 151.52%;
/* or 24px */
color: #091242;
}

.UserOne > p{
    font-family: 'Krub';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 151.52%;
/* or 24px */


color: #666C89;
}








.TestimonialUser > .UserTwo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 65px;
    gap: 10px;
    width: 560px;
     height: 350px;
    background: #091242;
    color: #FFFFFF;
}

.UserTwo > .UserTwoProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
}
.UserTwoQuote{
    margin-left: 5rem;
}

.UserTwoProfile > img{
    border-radius: 50%;
}
.UserTwoProfile > .textHeader > h3{
    font-family: $Rubik-font;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
/* identical to box height */


}
.UserTwoProfile > .textHeader > h4{
    
font-family: $Krub-font;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 151.52%;
/* or 24px */

}

.UserTwo > p{
    font-family: 'Krub';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 151.52%;
/* or 24px */
}
